In [42]:
import pandas as pd
park = pd.read_csv('C:\Roman\code\Python ETL\park-data.csv', encoding= 'unicode_escape')
park = park.drop(['SquirrelSighter(s)','OtherAnimal Sightings'],axis=1)
if park['ParkID'].dtypes == float:
    park = park.astype({'ParkID':int})
    print("Data type changed")



if len(park['ParkID'].unique()) < len(park.index):
    print('Duplicate value is present Remove it..')
    park.sort_values('ParkID',inplace=True)
    park.drop_duplicates(subset='ParkID',keep='first',inplace=True)
    print("Duplicate second value removed")


if pd.isnull(park['TemperatureWeather']).any():
    park['TemperatureWeather'].fillna('43 degrees, sunny',inplace = True)
    park[['Temperature', 'Weather']] = park.TemperatureWeather.str.split(pat = ',',n=1,expand=True)
#park[['Temperatur', 'Weather']] = park["TemperatureWeather"].apply(lambda x: pd.Series(str(x).split(",")))

park = park.drop('TemperatureWeather',axis=1)
park.head()

Data type changed
Duplicate value is present Remove it..
Duplicate second value removed

,AreaName,AreaID,ParkName,ParkID,Date,StartTime,EndTime,TotalTime,ParkConditions,Litter,NumberofSquirrels,NumberofSighters,Temperature,Weather
0,UPPER MANHATTAN,A,Fort Tryon Park,1,3/1/20,3:14:00 PM,4:05:00 PM,51,Busy,Some,12,4,43 degrees,sunny
1,UPPER MANHATTAN,A,J. Hood Wright Park,2,3/1/20,3:30:00 PM,4:00:00 PM,30,Calm,"Some, in trees",24,2,cold,clear
2,UPPER MANHATTAN,A,Highbridge Park,3,3/1/20,3:21:00 PM,4:15:00 PM,54,"Calm, pick-up baseball game","Some, especially caught in wooded area in East...",16,3,43 degrees,None
3,UPPER MANHATTAN,A,St. Nicholas Park,4,3/1/20,3:15:00 PM,3:45:00 PM,30,Calm,"Some, backside of park",15,3,43 degrees,clear
4,UPPER MANHATTAN,A,Riverside Park (section near Grant Memorial),5,3/1/20,3:15:00 PM,3:45:00 PM,30,Calm,NaN,28,3,43 degrees,sunny